.glsr-summary {
	flex-wrap: nowrap !important;
}
.glsr-summary-percentages {
  display: none;
}
.glsr-tag-value {
	color: #fff;
}
.glsr-tag-value p{
    font-size: clamp(18px, 4vw, 24px) !important;
}
.glsr-summary-text {
  color: #fff;
	font-size: 16px;
}
.glsr-reviews p {
  color: #fff;
}
.glsr-field label {
  color: #fff;
}
.glsr-button {
	background-color: #3CBFD0 !important;
	font-size: 24px !important;
	border-radius: 10px !important;
}
.glsr-field textarea, .glsr-field input{
	font-size: 24px !important;
	border-radius: 10px !important;
}
.glsr-field {
	margin-bottom: 10px !important;
}
.glsr-field textarea::placeholder, .glsr-field input::placeholder {
/* 	color: #747578; */
	font-size: 24px;
}
.glsr[data-theme] .gl-text-normal p {
	color: #fff !important;	
}
.glsr[data-theme] .gl-swiper-arrow {
	background-color: rgba(0,0,0,1) !important;
}
.glsr[data-theme] .gl-swiper-bullet:before {
	color: #fff !important;
}

@media screen and (min-width: 768px) {
	.glsr-reviews {
	display: flex !important;
}
}