.strong-form-inner {
	padding: 0px !important;
}
.strong-rating-wrapper .star svg {
	width: 28px !important;
}
.strong-form .form-field input, .strong-form .form-field textarea{
	font-size: 28px !important;
	border-radius: 10px !important;
}
.strong-view.controls-type-sides-outside {
	padding: 0px !important
}
.testimonial-content {
	color: white !important;
    font-size: 24px !important;
}
.testimonial-content p, .testimonial-name {
	color: #fff;
}
.strong-view.wpmtst-default .wpmtst-testimonial, .strong-view.wpmtst-default .wpmtst-testimonial-inner {
	border: none !important;
}